<!-- Displaying Email Systems questions -->
<div class="container">
    <div id="emailSystem" class="display-header">
    <div id="emailContainer">
        <div class="edit pull-right" style="float: right;">
            <a href="#/" id="editEmailSystemLink" aria-hidden="true" data-toggle="modal">
                <i class="fa fa-pencil-square-o"> Edit</i>
            </a>
        </div>
        <br>

        <form autocomplete="off" id="emailSystemForm" action="../index/<%= encodeURIComponent(result.customer.name) %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <fieldset id="emailSystemFormFieldset" disabled>
                <div class="form-group col-4 response-cell" hidden>
                    <label>Customer Name</label>
                    <input type="text" readonly class="form-control" placeholder="No response set" value="<%= result.customer.name %>" name="email_questions[name]">
                </div>

                <div class="row w-100" style="background-color: white;">
                    <!-- Row 1 Column 1 -->
                    <div class="col-xl-6 mt-2" style="background-color:white;">
                        <div id="editExchangeDetails">
                            <div class="card h-100 mt-2">
                                <div class="card-header">
                                    <h4 class="mb-0">On-Premise Exchange</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Number of users per journaling location</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" placeholder="No response set" value="<%= result.email_questions.exchange_details.users_per_location %>"
                                                name="email_questions[exchange_details][users_per_location]">
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Exchange Version</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control exchange_version required" placeholder="No response set" value="<%= result.email_questions.exchange_details.exchange_version %>"
                                            name="email_questions[exchange_details][exchange_version]">
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Number of Exchange Locations</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control number_of_mail_servers" placeholder="No response set" value="<%= result.email_questions.exchange_details.number_of_mail_servers %>"
                                            name="email_questions[exchange_details][number_of_mail_servers]">
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Enterprise CAL</label>
                                        <div class="col-lg-8">
                                            <%- make_custom_dropdown("email_questions[exchange_details][has_enterprise_CAL]",
                                            result.email_questions.exchange_details.has_enterprise_CAL, ["Yes", "No"], "has_enterprise_CAL") %>
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Does Exchange get Replicated to a Secondary Location</label>
                                        <div class="col-lg-8">
                                            <%- make_custom_dropdown("email_questions[exchange_details][is_replicating_exchange_and_AD]",
                                            result.email_questions.exchange_details.is_replicating_exchange_and_AD, ["Yes", "No"]) %>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Number of Journal mailboxes</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control number_of_inboxes" placeholder="No response set" value="<%= result.email_questions.exchange_details.number_of_inboxes %>"
                                            name="email_questions[exchange_details][number_of_inboxes]">
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Are journal mailboxes on their own DB?</label>
                                        <div class="col-lg-8">
                                            <%- make_custom_dropdown("email_questions[exchange_details][is_journal_in_own_DB]",
                                            result.email_questions.exchange_details.is_journal_in_own_DB, ["Yes", "No"], "is_journal_in_own_DB") %>
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">How much extra storage is available on the Journaling Mailbox Databases?</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control number_of_extra_storage" placeholder="No response set" value="<%= result.email_questions.exchange_details.number_of_extra_storage %>"
                                            name="email_questions[exchange_details][number_of_extra_storage]">
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Using RMS</label>
                                        <div class="col-lg-8">
                                            <%- make_custom_dropdown("email_questions[exchange_details][is_using_RMS]",
                                            result.email_questions.exchange_details.is_using_RMS, ["Yes", "No"], "is_using_RMS") %>
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Is Enable Journal Decryption set to True / False?</label>
                                        <div class="col-lg-8">
                                            <%- make_custom_dropdown("email_questions[exchange_details][is_journal_decryption_enabled]",
                                        result.email_questions.exchange_details.is_journal_decryption_enabled, ["Yes", "No"], "is_journal_decryption_enabled") %>
                                        </div>
                                    </div>
                
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">How are your journal rules defined (hub transport or database)?</label>
                                        <div class="col-lg-8">
                                            <%- make_custom_dropdown("email_questions[exchange_details][journal_rules]",
                                        result.email_questions.exchange_details.journal_rules, ["Hub transport", "Database"]) %>
                                        </div>
                                    </div>
                
                
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 1 Column 2 -->
                    <div class="col-xl-6 mt-2" style="background-color:white;">
                        <div id="editActiveDirectoryDetails">
                            <div class="card h-50 mt-2">
                                <div class="card-header">
                                    <h4 class="mb-0">AD Info</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Number of Forests</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control number_of_forests required" placeholder="No response set" value="<%= result.email_questions.active_directory_details.number_of_forests %>"
                                                name="email_questions[active_directory_details][number_of_forests]">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Domain Structure</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control structure" placeholder="No response set" value="<%= result.email_questions.active_directory_details.structure %>"
                                            name="email_questions[active_directory_details][structure]">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Number of AD Objects</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control AD_size required" placeholder="No response set" value="<%= result.email_questions.active_directory_details.ad_objects %>"
                                            name="email_questions[active_directory_details][ad_objects]">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div id="editO365Details">
                            <div class="card mt-2">
                                <div class="card-header">
                                    <h4 class="mb-0">O365 Info</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">What O365 license level do you have?</label>
                                        <div class="col-lg-8">
                                            <%- make_custom_dropdown("email_questions[O365_details][O365_version]", result.email_questions.O365_details.O365_version, ["e1", "e2", "e3", "e4", "e5"], "O365_version") %>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Are you maintaining AD on-prem?</label>
                                        <div class="col-lg-8">
                                            <%- make_custom_dropdown("email_questions[O365_details][is_maintaining_on_prem_AD]", result.email_questions.O365_details.is_maintaining_on_prem_AD, ["Yes", "No"], "is_maintaining_on_prem_AD") %>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">Are you maintaining AD in Azure?</label>
                                        <div class="col-lg-8">
                                            <%- make_custom_dropdown("email_questions[O365_details][is_maintaining_azure]", result.email_questions.O365_details.is_maintaining_azure, ["Yes", "No"], "is_maintaining_azure") %>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label form-control-label">When you create and admin mailboxes, do you do that in the on-prem AD, or in Azure?</label>
                                        <div class="col-lg-8">
                                            <%- make_custom_dropdown("email_questions[O365_details][is_admin_in_AD_or_azure]", result.email_questions.O365_details.is_admin_in_AD_or_azure, ["On-prem AD", "Azure"], "is_admin_in_AD_or_azure") %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Column -->
                </div><!-- End Row 1-->

                
                   
                

            <div class="row w-100">
                <div class="col-xl-12 mt-2" style="background-color:white;">
                    <div class="card w-100 h-100 mt-2">
                        <div class="card-header">
                            <h4 class="mb-0">Comments</h4>
                        </div>
                        <div class="card-body">
                            <div class="col h-100">
                                <div class="h-100">
                                  <textarea class="form-control form-control-md h-100" maxlength="5000" name="email_questions[comments]" placeholder="5000 characters max" form="emailSystemForm"><%= result.email_questions.comments %></textarea>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            </fieldset>
        </form>
    </div>
</div>
<hr class="rainbow">
</div>
