<!-- Displaying sizing questions -->
<div class="container">
    <div id="sizing" class="display-header">
        <div id="sizing">
            <div class="edit pull-right">
                <a href="#/" id="editSizingLink" aria-hidden="true" data-toggle="modal">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i>
                </a>
            </div>
            <br>

            <form id="sizingForm" autocomplete="off" action="../index/<%= encodeURIComponent(result.customer.name) %>?_method=PUT" method="POST">
                <fieldset id="sizingFormFieldset" disabled>

                    <!-- Hidden Fields -->
                    <div class="form-group col-4 response-cell" hidden>
                        <label for="customerName">Customer Name</label>
                        <input type="text" readonly class="form-control" placeholder="No response set" value="<%= result.customer.name %>" name="sizing_questions[name]">
                    </div>

                    <div class="row" style="background-color: white;">
                        <div class="card w-100 h-100 mt-2 mb-2">
                            <div class="card-header">
                                <h4 class="mb-0">Sizing</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label form-control-label">Messages per day</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control required" placeholder="No response set" value="<%= result.sizing_questions.messages_per_day %>" name="sizing_questions[messages_per_day]">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label form-control-label">Average message size</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control required" placeholder="No response set" value="<%= result.sizing_questions.avg_message_size %>" name="sizing_questions[avg_message_size]">
                                    </div>
                                    
                                </div>
                                
                                
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label form-control-label">Number of mailboxes</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control required" placeholder="No response set" value="<%= result.sizing_questions.number_of_mailboxes %>" name="sizing_questions[number_of_mailboxes]">
                                    </div>
                                </div>
            
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label form-control-label">Exports per month</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control required" placeholder="No response set" value="<%= result.sizing_questions.exports_per_month %>" name="sizing_questions[exports_per_month]">
                                    </div>
                                    
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label form-control-label">Average export size</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" placeholder="No response set" value="<%= result.sizing_questions.avg_export_size %>" name="sizing_questions[avg_export_size]">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label form-control-label">Virtual or physical hardware appliance preference?</label>
                                    <div class="col-lg-8">
                                        <%- make_custom_dropdown("result.sizing_questions[appliance_preference]", result.sizing_questions.appliance_preference, ["Physical", "Virtual"]) %>
                                    </div>
                                </div>
            
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label form-control-label">Does the customer have a VMWare environment?</label>
                                    <div class="col-lg-8">
                                        <%- make_custom_dropdown("result.sizing_questions[has_vmware_env]", result.sizing_questions.has_vmware_env, ["Virtual", "Physical", "None"]) %>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label form-control-label">Number of appliances recommended?</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" placeholder="No response set" value="<%= result.sizing_questions.number_of_appliance_recommended %>" name="sizing_questions[number_of_appliance_recommended]">
                                    </div>
                                    
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label form-control-label">Mail system HA DR footprint?</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" placeholder="No response set" value="<%= result.sizing_questions.mail_system_HA_DR_footprint %>" name="sizing_questions[mail_system_HA_DR_footprint]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       

                    <div class="row" style="background-color: white;">
                        <div class="card w-100 h-100 mt-2 mb-2">
                            <div class="card-header">
                                <h4 class="mb-0">Comments</h4>
                            </div>
                            <div class="card-body">
                                <textarea class="form-control" maxlength="5000" rows="5" name="sizing_questions[comments]" placeholder="5000 characters max" form="sizingForm"><%= result.sizing_questions.comments %></textarea>
                            </div>
                        </div>
                    </div>
                

                </fieldset>
            </form>
        </div>
    </div>
    <hr class="rainbow">
</div>

