<%- include('./partials/header.ejs') %> 

<div class="continer">
  <div class="row">
    <div class="col-xl-8 mx-auto text-center">

    </div>
  </div>
  <div class="row">
    <div class="column mx-auto">
      <h1 class="text-center display-4 my-4">Customer Index</h1>
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-10 mx-auto" style="background-color:white;">

    <table id="tblCustomers" class="table table-hover custab">
  
      <thead class="thead-light">
        <tr>
          <th>
            <p onclick="sortTable(0)">Customer Name <i class="fa fa-fw fa-sort"></i></p> 
          </th>
          <th>
            <p onclick="sortTable(1)">Sales Rep <i class="fa fa-fw fa-sort"></i></p> 
          </th>
          <th>
            <p onclick="sortTable(2)">Archiving SE<i class="fa fa-fw fa-sort"></i></p> 

          </th>
          <th>
            <p onclick="sortTable(3)">Status<i class="fa fa-fw fa-sort"></i></p> 
          </th>
          <th>
            <p onclick="sortTable(4)">Updated Date<i class="fa fa-fw fa-sort"></i></p> 
          </th>
        </tr>
        <tr id="filtersRow">
          <th>
            <input class="form-control" id="txtFilter0" onkeyup="filterTable(0)" style="display: inline-block;" type="text" placeholder="Filter Customer Name..." aria-label="Search">
          </th>
          <th>
            <input class="form-control" id="txtFilter1" onkeyup="filterTable(1)" style="display: inline-block;" type="text" placeholder="Filter Sales Rep..." aria-label="Search">
          </th>
          <th>
            <input class="form-control" id="txtFilter2" onkeyup="filterTable(2)" style="display: inline-block;" type="text" placeholder="Filter Archiving SE..." aria-label="Search">
          </th>
          <th>
            <input class="form-control" id="txtFilter3" onkeyup="filterTable(3)" style="display: inline-block;" type="text" placeholder="Filter Status..." aria-label="Search">
          </th>
          <th>
            <input class="form-control" id="txtFilter4" onkeyup="filterTable(4)" style="display: inline-block;" type="text" placeholder="Filter Date..." aria-label="Search">
          </th>
        </tr>
      </thead>
      <tbody>
        <% customers.forEach(function (customer) { %>
        <tr id="<%= customer.name %>">
          <td><a href="./index/<%= encodeURIComponent(customer.name) %>"><%= customer.name %></a></td>
          <td><%= customer.salesRep %></td>
          <td><%= customer.archivingSe %></td>
          <td><%= customer.status %></td>
          <td><%= customer.updatedAt.getMonth() + 1 %>/<%= customer.updatedAt.getDate() %>/<%= customer.updatedAt.getFullYear() %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  </div>
</div>

<script>
  function filterTable(rowid) {
      var input, filter, table, tr, td, i, txtValue;
      if (rowid == 0) {
        input = document.getElementById("txtFilter0");
      }
      if (rowid == 1) {
        input = document.getElementById("txtFilter1");
      }
      if (rowid == 2) {
        input = document.getElementById("txtFilter2");
      }
      if (rowid == 3) {
        input = document.getElementById("txtFilter3");
      }
      if (rowid == 4) {
        input = document.getElementById("txtFilter4");
      }
      
      filter = input.value.toUpperCase();
      table = document.getElementById("tblCustomers");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[rowid];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

    function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("tblCustomers");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc"; 
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
      first 2, which contains table headers):*/
      for (i = 2; i < (rows.length - 2); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;      
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>

<%- include('./partials/footer.ejs') %> 